@import url(https://fonts.googleapis.com/css?family=Open+Sans);
button.stop_button {
    background: red !important;
    
}
 .form-control-lg .form-control-borderless {
    border: none;
    
}
.bootstrap-select{
    width : 100% !important;
    height : 60px;
   
}
/*.btn:not(:disabled):not(.disabled){*/
.type-loadtest button{
    height : 60px;
    background: #ffc107;
    border: #ffc107;
    border-bottom-left-radius: 30px !important;

    border-top-left-radius: 30px !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.type-loadtest .btn-light.dropdown-toggle{
    background: #ffc107;
    border: #ffc107;
}
.type-loadtest button:hover{
    background: #ffc107;
    border: #ffc107;
}
.bootstrap-select .dropdown-toggle .filter-option {

text-align: center;
vertical-align: middle !important;
padding-top: 0px;
font-size: medium;
}
.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;

}
#type{
  
}
#search {
    margin-top: 50px;
}
#data-load{
    font-size: 16px;
}#data-concerrence{
font-size: 16px;
}
element.style {
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.info h1 {
    font-size: 32px !important;
    line-height: 42px !important;
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.2);
}
#search-dashboard{
    background: linear-gradient(20deg, #25a1d7 20%, #218db3 100%) !important;
    /* min-height: 60vh; */
}
#load-btn{
    border-bottom-right-radius: 30px !important;
border-top-right-radius: 30px !important;
}
/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:table;width:100%;height:100%;
}
.justify-content-center .info{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #eee;
    font-weight: 400;
    padding-top : 10px;
}

.input-group-append {
    margin-left: -1px;
}
.btn-shadow.btn-shadow-primary {
    background: #f4871e;
    margin: 0px -8px 0px;
    min-width: 185px;
    color: #fff;
    display: inline-block;
    border-radius: 38px;
    font-size: 13px;
    font-weight: 800;
    margin: 0;
    border-radius: 0 38px 38px 0;
}
.input-group > .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.box {
    width: 500px;
    max-width: 90%;
    margin: 0 auto;
    padding: 3rem;
    display: block;
    border-radius: 1.5rem;
    background-color : rgba(34, 151, 198, 0);
   /* box-shadow: 0px 0px 15.84px 0.16px rgba(35, 31, 32, 0.1);*/
}

.meter {
    width: 188px;
    margin: 30px auto 0;
    position: relative;
}

.meter-hand {
    position: absolute;
    left: 50%;
    bottom: 6px;
    margin-left: -44px;
    z-index: 1;
    transition: all 2s ease-in-out;
    transform-origin: 94% 48%;
}

.speed {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1;
}

#speed {
    min-width: 100px;
    display: inline-block;
}

.unit {
    font-size: 2rem;
    font-weight: 500;
    color: #bbe697;
}

.meter .num {
    font-size: 0.7rem;
    font-weight: 600;
    position: absolute;
}

#num_1 {
    left: 25px;
    top: 80px;
}

#num_2 {
    left: 37px;
    top: 56px;
}

#num_3 {
    left: 55px;
    top: 35px;
}

#num_4 {
    left: 87px;
    top: 25px;
}

#num_5 {
    right: 55px;
    top: 35px;
}

#num_6 {
    right: 37px;
    top: 56px;
}

#num_7 {
    right: 25px;
    top: 80px;
}

#tabs{
	background: #007b5e;
    color: #eee;
}
#tabs h6.section-title{
    color: #eee;
}
.tab-pane{
    padding:10px;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#advance  a.active{
    color: #717171;
    /* max-width: 400px;
    min-width: 200px; */
}
#advance  a{
    color: #717171;
    /* max-width:  400px;
    min-width: 200px; */
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    font-size: 20px;
}
.tab-content {
    /* max-width: 400px;
    min-width: 200px; */
}
#advance{
    background-color :white;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    width: 100%;
    /* max-height: 700px;
    min-height: 300px; */
}
/* li.selected .active > a.dropdown-item.active {
    background-color :#ff8700 !important;
} */
